@media only screen and (max-width: 768px) {
    /* Styles for mobile devices */

    /* Header */
    header {
        background-color: rgb(65, 55, 55);
    }

    /* Navigation */
    #nav>ul {
        display: none;
    }

    .menu {
        display: flex;
        width: fit-content;
        list-style: none;
        font-size: 16px;
        line-height: 1.6;
        color: #000000;

    }

    .menu a {
        text-decoration: none;
        font-size: 26px;
        color: inherit;
        font-family: inherit;
        line-height: inherit;
    }

    .menu .link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 12px 36px;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu .link::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0a3cff;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu .link svg {
        width: 14px;
        height: 14px;
        fill: #000000;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu .item {
        position: relative;
    }

    .menu .item .submenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        border-radius: 0 0 16px 16px;
        left: 0;
        width: 100%;
        overflow: hidden;
        border: 1px solid #cccccc;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-12px);
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 1;
        pointer-events: none;
        
    }

    .menu .item:hover .submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
        border-top: transparent;
        border-color: #0a3cff;
    }

    .menu .item:hover .link {
        color: #ffffff;
        border-radius: 16px 16px 0 0;
    }

    .menu .item:hover .link::after {
        transform: scaleX(1);
        transform-origin: right;
    }

    .menu .item:hover .link svg {
        fill: #ffffff;
        transform: rotate(-180deg);
    }

    .submenu .submenu-item {
        width: 100%;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .submenu .submenu-link {
        display: block;
        padding: 12px 24px;
        width: 100%;
        position: relative;
        text-align: center;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .submenu .submenu-item:last-child .submenu-link {
        border-bottom: none;
    }

    .submenu .submenu-link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        width: 100%;
        height: 100%;
        background-color: #dfd657;
        z-index: -1;
        transform-origin: left;
        transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .submenu .submenu-link:hover:before {
        transform: scaleX(1);
        transform-origin: right;
    }

    .submenu .submenu-link:hover {
        color: #ffffff;
    }

    /* First Page */
    .first-page {
        height: 110vh;
        padding: 2em;
    }

    .first-page h2 {
        font-size: 6em;
    }

    .first-page img {
        width: 450px;
        height: 450px;
    }

    .first-page p {
        font-size: 3em;
    }



    /* Third Page */
    /* .third_page {
        flex-direction: column;
        
    }


    .third_page .left_side {
        display: none;
    }

    .third_page .right_side {
        padding: 2em;
        font-size: 3em;
        flex-wrap: wrap;
    }

    .third_page .right_side p {
        font-size: 1em;
    } */

    /* Certificates Page */
    .certificates_page {
        padding: 2em;
    }

    .certificates_page>p {
        font-size: 1.5em;
    }

    .card {
        width: 450px;
        height: 500px;
        font-size: 1em;
    }

    /* Contact Page */
    .contact_page {
        height: auto;
        padding: 2em;
    }

    .contact_page h2 {
        font-size: 5em;
        color: #fafafa;
    }
    .contact_page p{
        font-size: 3em;
        padding:2em;
    }

    .contact_page form {
        flex-direction: column;
        font-size: 4em;
        height: auto;
        width: auto;
        margin-bottom: 1em;
        padding: 1em;
    }

    .contact_page form input[type="text"],
    .contact_page form input[type="email"],
    .contact_page form textarea {
        width: 100%;
        font-size: xx-large;
        padding: 1em;
        margin-bottom: 1em;
    }

    .contact_page form button {
        font-size: xx-large;
        width: 100%;
    }

    /* Footer */
    footer {   
        height: auto;
        padding: 1em;
    }

    footer ul {
        margin-top:2em ;
        flex-direction: column;
        gap: 0.5em;
    }

    footer ul li a {
        font-size: 3em;
    }

    .social_media{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }
    .social_media a img {
        height: auto;
        display: none !important;
    }

    .social_media p {
        margin-top: 0.5em;
        font-size: 1em;
    }





}
