@keyframes nav {
    0% {
        transform: translateY(-10px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.menu {
    display: none;
}

#nav {
    display: flex;
    background-color: #262727;
    justify-content: space-between;
    padding: 1.5em;
}
#nav img{
    width: 43px;
    height: 43px;
    background-color: #cccccc;
    padding: 4px;
    border-radius: 1em;
}


#nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap: 3.5em;

}

#nav ul li a {
    flex-wrap: wrap;
    text-decoration: none;
    padding: 2px;
    font-size: 1.4em;
    color: #dfc7c7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;
}

#nav ul li a:hover {
    color: rgb(170, 114, 114);
    border: 2px solid rgb(88, 80, 80);
    border-radius: 10px;
}

#logo a {
    color: rgb(223, 199, 199);
    text-decoration: none;
    text-align: left;

}


#menuIcon{
    display: none;
}
#mobileMenu{
    display: none;
}

@media  (max-width: 768px) {


    /* Navigation */
    header {
        display: flex;
        justify-content: flex-start;
        /* background-color: #333; */
        background-color: rgb(65, 55, 55);
        padding: 10px 20px;
    }

    header #nav {
        display: none;
    }


    #menuIcon{
        display: flex;
    }


    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        
    }
    

    .menu-icon {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        
    }
    
    .mobile-menu {
        display: none; /* Initially hidden */
        flex-direction: column;
        transition: right 0.3s ease; /* Smooth transition */
        background-color: #333;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        z-index: 1000;
    }
    

    img{
        width: 40px;
        height: 40px;

        padding: 4px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    .mobile-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
    }
    
    .mobile-menu li {
        border-bottom: 2px solid #444;
        
    }
    
    .mobile-menu li a {
        color: #fff;
        text-decoration: none;
        padding: 15px 20px;
        display: block;
        
    }
    
    .mobile-menu li a:hover {
        background-color: #555;

    }
    
}
