/* all images are from
https://www.pexels.com/photo/silver-and-black-laptop-computer-1229861/ 
https://www.streamlinehq.com/illustrations
https://storyset.com/illustration/online-learning/bro
...
*/
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

@import url('/my-portfolio/assets/css/desktop/header.css');

@import url('/my-portfolio/assets/css/desktop/First-page.css');

@import url('/my-portfolio/assets/css/desktop/About-me-page.css');

@import url('/my-portfolio/assets/css/desktop/Third-page.css');

@import url('/my-portfolio/assets/css/desktop/Certificates-page.css');

@import url('/my-portfolio/assets/css/desktop/Projects-page.css');

@import url('/my-portfolio/assets/css/desktop/Contact-page.css');

@import url('/my-portfolio/assets/css/desktop/footer.css');



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
