*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#nav{
    display: flex;
    background-color: rgb(38, 39, 39);
    text-align: right;
    justify-content: space-between;
    padding: 1em;
}

#nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap: 3em;
    
}

#nav ul li a{
    color: rgb(223, 199, 199);
    text-decoration: none;
    padding: 2px;
}
#nav ul li a:hover{
    color: rgb(170, 114, 114);
    border: 2px solid rgb(88, 80, 80);
    border-radius: 10px;
}

#logo a{
    color: rgb(223, 199, 199);
    text-decoration: none;
    text-align: left;
}

/* MAIN CONTENT */

/* FIRST */
.first-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(66, 55, 55);
    color: rgb(141, 141, 141);
    gap:2em;
}

.first-page h2 {
    font-size: 3em;
    padding-bottom: 1em;
    color: rgb(212, 200, 85);

}

.first-page img{
    width: 300px;
    height: 300px;
    border-radius: 50em;
}

.first-page h1 {
    font-size: 3em;
}

.first-page p {
    font-size: 1em;
}

/* SECOND */

.about_me_page{
    display: flex;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}
.about_me_page .left_side{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(170, 127, 127);
    width: 60%;
    padding-top: 6em;
    opacity: 90%;
}

.about_me_page .right_side {
    background-image: url(/assets/img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}

/* THIRD */
.third_page{
    display: flex;
    height: 100vh;
    width: 100% ;
    border: 1px solid black;
}

.third_page .left_side{
    background-image: url(/assets/img/realtime-enhance-enhanced.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}

.third_page .right_side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(88, 65, 65);
    width: 60%;
    padding-top: 6em;
    opacity: 90%;
}

/* Certificates */

.certificates_page{
    display: flex;
    height: 100vh;
    width: 100% ;
    background-color: rgb(43, 42, 42);
}

