@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");


@keyframes firstPage{
    0%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes secondPage{
    0%{
        transform: translateX(-150px);
    }
    100%{
        transform: translateX(0px);
    }
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


#nav {
    display: flex;
    background-color: rgb(38, 39, 39);
    text-align: right;
    justify-content: space-between;
    padding: 1em;
}

#nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap: 3em;

}

#nav ul li a {
    flex-wrap: wrap;
    flex: 1 0 0;
    color: rgb(223, 199, 199);
    text-decoration: none;
    padding: 2px;
}

#nav ul li a:hover {
    color: rgb(170, 114, 114);
    border: 2px solid rgb(88, 80, 80);
    border-radius: 10px;
}

#logo a {
    color: rgb(223, 199, 199);
    text-decoration: none;
    text-align: left;
}

/* MAIN CONTENT */

/* FIRST */

.first-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(66, 55, 55);
    color: rgb(141, 141, 141);
    gap: 2em;
}

.first-page h2 {
    animation: firstPage 2.5s ease 0s 1 normal forwards ;
    font-size: 3em;
    padding-bottom: 1em;
    color: rgb(212, 200, 85);
}

.first-page img {
    animation: firstPage 2.5s ease 0s 1 normal forwards ;
    width: 300px;
    height: 300px;
    border-radius: 50em;
}


.first-page p {
    animation: firstPage 2.5s ease 0s 1 normal forwards ;
    font-size: 2em;
}

/* SECOND */

.about_me_page {
    display: flex;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-color: #2D4150;

}

.about_me_page .left_side {
    flex: 1 0 0;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2D4150;
    width: 50%;
    padding: 6em;
    font-size: 24px;
    animation: secondPage 2.5s ease 0s 1 normal forwards ;
}

.about_me_page .left_side h2 {
    text-align: center;
    padding-bottom: 2em;
    animation: secondPage 2.5s ease 0s 1 normal forwards ;
}

.about_me_page .left_side p {
    text-indent: 3em;
    text-align: left;
    line-height: 1.5;
}

.about_me_page .right_side {
    background-image: url(/my-portfolio/assets/img/horses.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: nowrap;
    width: 50%;
    animation: secondPage 2.5s ease 0S 1 normal forwards ;
}

/* THIRD */
.third_page {
    display: flex;
    height: 100vh;
    width: 100%;
    border: 1px solid black;
}

.third_page .left_side {
    background-image: url(/my-portfolio/assets/img/realtime-enhance-enhanced.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}

.third_page .right_side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(88, 65, 65);
    width: 60%;
    padding-top: 6em;
    opacity: 90%;
}

/* Certificates */

.certificates_page {
    align-items: center;
    flex-direction: column;
    padding: 1em;
    height: 130vh;
    background-color: rgb(43, 42, 42);
}

.certificates_page .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    color: rgb(191, 188, 188);
    margin-bottom: 2em;
}


/* new */


:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}


.page-content {
    display: grid;
    grid-gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
    font-family: var(--font-sans);
}


.page-content {
    grid-template-columns: repeat(4, 1fr);
}


.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    width: 100%;
    height: 450px;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:nth-child(6) {
    width: 150%;
}

.card:nth-child(7) {
    width: 145%;
    margin-left: 12.8em;
}


.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}


.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background-image: url("/my-portfolio/assets/img/JS\ Front-End\ -\ June\ 2024\ -\ Certificate.jpeg ");
}

.card:nth-child(2):before {
    background-image: url("/my-portfolio/assets/img/HTML\ &\ CSS\ -\ May\ 2024\ -\ Certificate.jpeg");
}

.card:nth-child(3):before {
    background-image: url("/my-portfolio/assets/img/Programming\ Fundamentals\ with\ Python\ -\ May\ 2023\ -\ Certificate.jpeg");
}

.card:nth-child(4):before {
    background-image: url("/my-portfolio/assets/img/Programming\ Basics\ -\ March\ 2023\ -\ Certificate.jpeg");
}

.card:nth-child(5):before {
    background-image: url("/my-portfolio/assets/img/programizz.jpeg");
}

.card:nth-child(6):before {
    background-image: url("/my-portfolio/assets/img/Sololearn\ 1.2.jpg");
}

.card:nth-child(7):before {
    background-image: url("/my-portfolio/assets/img/Sololearn\ 2.jpg");
}


.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+* {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.btn:hover {
    background-color: #0d0d0d;
}

.btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }

    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }

    .card:hover .content>*:not(.title),
    .card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}

/* Projects */

.projects_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 40, 61);
    color: rgb(190, 190, 190);
}

.project_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 100px;
}

.project_images img {
    width: 450px;
    height: 500px;
    background-color: #585050;
    border: 1px solid #000000;
}

.project_images img:hover {
    background-color: #b39494;
    border: 1px solid #c09191;
    padding: 1em;
}

/* CONTACT ME  */

.contact_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55vh;
    background-color: rgb(59, 61, 65);
    color: rgb(190, 190, 190);
}
.contact_page form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    gap: 1.5em;
    width: auto;
    height: 20em;
    border-radius: 1em;
    background-color: rgb(217, 235, 235);
}

.contact_page form input[type="text"],.contact_page form 
input[type="email"]{
    width: 20em;
    height: 3em;
    border-radius: 5px;
}
.contact_page form textarea{
    width: 20em;
    height: 15em;
    border-radius: 5px;
}
.contact_page form button{
    height: 3em;
    width: 9em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: rgb(190, 190, 190);
    background-color: rgb(59, 61, 65);
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    background-color: #7a2323;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 20vh;
}
footer ul li a{
    color: white;
    text-decoration: none;
}

.social_media a img{
    
    height: 2em;
    align-items: center;
    color: white;
    text-decoration: none;
}

.social_media a:hover img{
    transform: scale(1.1);
}

.social_media p{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

/* RESPONSIVE DESIGN */
@media  (max-width :1080px){
    
.first-page{
    height: 40vh;
}

.about_me_page{
    height: 50vh;
}

.about_me_page .right_side{
    width: 0;
}
}


